/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}

/* ### TODO ### Styles for Header Component */

/* ... your code here ... */
.header {
  background-color: #c9c2c2;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__image {
  max-width: 100px;




}


/* ### TODO ### Styles for Main Component */

/* ... your code here ... */
.main {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Zwei Spalten: Erste Spalte 1/4 der Breite, zweite Spalte 3/4 der Breite */
  grid-gap: 50px; /* Abstand zwischen den Spalten */
  flex: 1;

}



input {
    width: 80%; /* Set initial width to 80% of its container */
    max-width: 300px; /* Set maximum width to 300px */
    height: 40px; /* Set height as desired */
    padding: 10px; /* Add padding for better appearance */
    font-size: 14px; /* Adjust font size as needed */
    margin: 10px;


}

/* ### TODO ### Styles for Tagging component */

/* ... your code here ... */
#tagging_fildset{
  display: flex;
  flex-direction: column;

}


.main__tagging {
  margin: 20px;



}

#tagging_legend {
  padding: 2px;
  font-size: 18px;




}



/* ### TODO ### Styles for Discovery component */

/* ... your code here ... */
.discovery__results li{
  color: #00B7FF;
  border: 1px solid #ccc; /* Add border */
  padding: 10px; /* Add padding */
  margin: 20px; /* Add margin between list items */
  width: fit-content; /* Set width to fill parent container */
  display: block;
  
}

.discovery__wrapper{
  display: flex;

}

.discovery__map{
  display: flex;
  flex-direction: column;
  margin: 20px;

}

.main__discovery {
  margin: 20px;


}


#discovery_legend{
  padding: 2px;
  font-size: 18px;




}
/* ### TODO ### Styles for Footer Component */

/* ... your code here ... */
.footer{
  background-color: #c9c2c2;



}



/* ### TODO ### Media Queries */

/* ... your code here ... */
@media only screen and (max-width: 850px) {
  .main {
      width: 45%; /* Adjust width for medium screens */
      display: flex; /* Use flexbox layout */
      flex-direction: column; /* Stack items vertically */
  }
}
